@import "../../../../style.css";

.recommendation_container {
  width: 940px;
  height: 400px;
}

.news_title_section {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-bottom: 5px;
}

.news_title {
  font-weight: bold;
  font-size: 16px;
}

.news_regdate {
  position: relative;
  left: 55%;
  margin-top: 3px;
  color: var(--brownish-grey);
  font-size: 14px;
  width: 300px;
}

.news_summary_section {
  width: 940px;
  margin-bottom: 7px;
}
