.t-grade-div-right {
    width: 50%;
    padding-left: 5%;
    padding-right: 8%;
}
.t-grade-div-left {
    width: 50%;
    padding-left: 8%;
    padding-right: 5%;
}
.t-grade-div-btn {
    text-align: center;
}